
.about-cards {
    width: 488px;
    display: flex;
    justify-content: space-between;
}

.about-content {
    width: 555px;
    height: 200px;
    color: #0d3e60;
    font-size: 22px;
    font-weight: 300;
    line-height: 36px;
}

.about-content p {
    margin-bottom: 36px;
}

.about-toggle-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 90px;
}

.about__toggle {
    width: 165px;
    height: 46px;
    border-radius: 20px;
    background-color: #fff9df;
    padding-left: 20px;
    padding-right: 20px;
    color: #2e435e;
    font-size: 14px;
    font-weight: 400;
    line-height: 46px;
   /*  margin-right: 20px; */
    cursor: pointer;
    transition: 0.2s ease-in;
    text-decoration: none;
    text-align: center;
}

.about__toggle:hover {
    background-color: #ff8e39;
    color: #fff;
}

.title-special {
    color: #eb5238;
    font-size: 30px;
    font-weight: 700;
    line-height: 23.99px;
    margin-bottom: 65px;
}

.card {
    width: 211px;
    height: 298px;
    box-shadow: 6px 9px 35px rgba(25, 40, 66, 0.1);
    border-radius: 20px;
    background-color: #ffffff;
    padding: 65px 30px 35px;
    display: flex;
    flex-direction: column;
    position: relative;

}

.card__title {
    color: #2e435e;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 35px;
}

.card__content {
    color: #2e435e;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.card__read-more {
    margin-top: auto;
}

.card-circle {
    transform: translate(-50%, -50%);
    top: 0;
    left: 0;
    display: block;
    width: 76px;
    height: 76px;
    border-radius: 50px;
    background-color: rgba(235, 82, 56, .2);
    position: absolute;
}

.card-circle-inner {
    width: 62px;
    height: 62px;
    border-radius: 50px;
    background-color: #eb5238;
    display: block;
    z-index: 2;
    position: absolute;
    left: 7px;
    top: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
