.header {
    width: 100%;
    height: 1195px;
    padding-top: 92px;
    background-color: #fffef9;
    background-image: linear-gradient(to top, #ffffff 0%, #fff9df 100%);
}

.logo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 23px;
}

.promises-counter__icon {
    margin-bottom: 8px;
}

.promises-counter__number {
    color: #0d3e60;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 4px;
}

.promises-counter__description {
    color: #0d3e60;
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
}

.header-content {
    text-align: center;
    max-width: 650px;
    margin: 0 auto;
}

.header__icon-mail {
    margin-bottom: 30px;

}

.header__invite {
    color: #eb5238;
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 21px;
}

.header__title {
    color: #0d3e60;
    font-size: 38px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 36px;
}