.header {
    width: 100%;
    height: 1195px;
    padding-top: 92px;
    background-color: #fffef9;
    background-image: linear-gradient(to top, #ffffff 0%, #fff9df 100%);
}

.logo-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 23px;
}

.promises-counter__icon {
    margin-bottom: 8px;
}

.promises-counter__number {
    color: #0d3e60;
    font-size: 20px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 4px;
}

.promises-counter__description {
    color: #0d3e60;
    font-size: 16px;
    font-weight: 300;
    line-height: 1;
}

.header-content {
    text-align: center;
    max-width: 650px;
    margin: 0 auto;
}

.header__icon-mail {
    margin-bottom: 30px;

}

.header__invite {
    color: #eb5238;
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 21px;
}

.header__title {
    color: #0d3e60;
    font-size: 38px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 36px;
}

.header-names {
    display: block;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.header-names-left {
    text-align: right;
}

.header-names-right {
    text-align: left;
}

.header-names__name {
    color: #eb5238;
    font-size: 22px;
    font-weight: 700;
    line-height: 40px;
}

.header-names__email {
    color: #0d3e60;
    font-size: 16px;
    font-weight: 700;
    line-height: 36px;
}

.header-names-circles {
    width: 91px;
    height: 91px;
    background-color: #ed543a;
    border-radius: 60px;
    background-image: url("../img/icons/icon-heart.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin-left: 37px;
    margin-right: 37px;
}

.header-names-circles::after {
    content: "+";
    display: block;
    width: 37px;
    height: 37px;
    background-color: #ffcc36;
    border-radius: 20px;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, 100%);
    color: #ffffff;
    font-size: 30px;
    font-weight: 300;
    line-height: 37px;
    text-align: center;
}

.scroll__description {
    color: #0d3e60;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    margin-bottom: 16px;
}
